# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino IDE
build/
*.hex
*.elf

# WiFi bilgileri asla depoya girmez
src/gizli.h
src/secrets.h

# Python
__pycache__/
*.pyc
.venv/
venv/

# İşletim sistemi
.DS_Store
Thumbs.db
desktop.ini

# Editör
.vscode/
.idea/
